:root {
    --header-height: 50px;
    --header-background-color-white: #fff;
    --header-background-color-gray: #e0e0e0;
    --header-header-nav-color: rgba(20, 10, 20, 1);
    --header-header-nav-color-red: rgb(235, 75, 110);
    --header-header-nav-color-yellow: rgb(240, 220, 90);
    --header-header-nav-color-green: rgb(30, 180, 120, 1);
    --header-header-nav-color-cyan: rgb(40, 200, 200);
    --header-header-nav-color-purple: rgba(30, 0, 30, 1);
    --header-text-color-hex: #b0b0b0;
    --header-border-color-hex: #d030d0;
}

#gamecenter-header {
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: all 0.3s;
}
#gamecenter-header[class~="closed"] {
    transform: translateY(calc(var(--header-height) * -1));
}

#gamecenter-header-nav {
    height: var(--header-height);
    background-color: var(--header-header-nav-color);
}
#gamecenter-header-nav.purple {
    background-color: var(--header-header-nav-color-purple);
}
#gamecenter-header-nav.red {
    background-color: var(--header-header-nav-color-red);
}
#gamecenter-header-nav.yellow {
    background-color: var(--header-header-nav-color-yellow);
}
#gamecenter-header-nav.green {
    background-color: var(--header-header-nav-color-green);
}
#gamecenter-header-nav.cyan {
    background-color: var(--header-header-nav-color-cyan);
}

#games-list-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
}

@media screen and (max-width: 768px) {
    #games-list-div {
        display: none;
    }
}

.games-links-divs {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-links {
    height: 100%;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
}

.header-links:hover {
    color: var(--header-text-color-hex);
    border-bottom: 1px solid var(--header-border-color-hex);
}

.header-links-images-divs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links-images {
    width: 15px;
    height: 15px;
}

.header-links-texts {
    font-size: 1rem;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

/* Barra de navegação mobile */
#nav-header-mobile {
    width: 100%;
    height: 100%;
    display: none;
}

@media screen and (max-width: 768px) {
    #nav-header-mobile {
        display: block;
    }
}

/* Div do botão de barra de navegação mobile */
#nav-mobile-button-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Botão de barra de navegação mobile */
#nav-mobile-button {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: unset;
    padding: 0 25px;
    transition: all 0.3s;
}
#nav-mobile-button[class~="open"] {
    background-color: #fff;
}

/* Ícone do botão da barra de navegação mobile */
#nav-mobile-icon {
    width: 30px;
    height: 30px;
    filter: invert(1);
    transition: all 0.3s;
}
#nav-mobile-icon[class~="open"] {
    filter: unset;
}

/* Navegação mobile */
#nav-mobile {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav-mobile[class~="closed"] {
    display: none;
}

/* Div dos botões de navegação mobile */
#nav-mobile-links-div {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-header-nav-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#nav-mobile-links-div.purple {
    background-color: var(--header-header-nav-color-purple);
}
#nav-mobile-links-div.red {
    background-color: var(--header-header-nav-color-red);
}
#nav-mobile-links-div.yellow {
    background-color: var(--header-header-nav-color-yellow);
}
#nav-mobile-links-div.green {
    background-color: var(--header-header-nav-color-green);
}
#nav-mobile-links-div.cyan {
    background-color: var(--header-header-nav-color-cyan);
}

/* Divs dos links de navegação mobile */
.nav-mobile-links-divs {
    width: 150px;
    height: 50px;
}

/* Links de navegação mobile */
.nav-mobile-links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: "Poppins";
}

/* Div do botão de fechar barra de navegação */
#nav-close-div {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    background-color: transparent;
}

/* Botão de fechar barra de navegação */
#nav-close-button {
    cursor: pointer;
    padding: 5px 10px;
    border: unset;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--header-header-nav-color);
}
#nav-close-button.purple {
    background-color: var(--header-header-nav-color-purple);
}
#nav-close-button.red {
    background-color: var(--header-header-nav-color-red);
}
#nav-close-button.yellow {
    background-color: var(--header-header-nav-color-yellow);
}
#nav-close-button.green {
    background-color: var(--header-header-nav-color-green);
}
#nav-close-button.cyan {
    background-color: var(--header-header-nav-color-cyan);
}

/* Seta do botão de fechar barra de navegação */
#nav-close-arrow {
    transition: all 0.3s;
}
#nav-close-arrow[class~="closed"] {
    transform: rotate(180deg);
}