* {
    padding: 0;
    margin: 0;
}

:root {
    --square-width: 45px;
    --square-height: 45px;
    --theme-transition: all 0.3s
}

p, h1, a, square {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Área total do jogo */
#mineswepper-game-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 215, 60);
    background-image: linear-gradient(130deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
}

/* Área dos confetes de vitória */
#minesweeper-confetti-area {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

/* Confetes */
.confettis {
    display: block;
    position: absolute;
    width: 20px;
    height: 30px;
    top: -20px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}

@keyframes confettiDown {
    0% {
        top: 0%;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: 100%;
    }
}

@keyframes confettiMove {
    33% {
        transform: rotate3d(1, 0, 1, 80deg);
    }
    67% {
        transform: rotate3d(0, 1, 0, 90deg);
    }
}

/* Área do jogo */
#game-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Área dos menus de ajuda */
#minesweeper-menus-area {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    /*pointer-events: none;*/
    background-color: rgba(0, 0, 0, 0.3);
}

#minesweeper-menus-area.closed {
    display: none;
}

/* Div da área do jogo */
#game-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    transition: var(--theme-transition);
}
.light#game-div {
    background-color: #fff;
}
.dark#game-div {
    background-color: #404040;
}

/* Título do jogo */
#title {
    transition: var(--theme-transition);
}
.light#title {
    color: #000;
}
.dark#title {
    color: #fff;
}

#configs-div {
    width: 100%;
}

/* Div das divs dos botões de configurações */
#configurations-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* Divs dos botões de configurações */
.configurations-divs {
    position: relative;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

.configs-buttons {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-width: 0px;
    border-radius: 50%;
}

.configs-buttons:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.configs-icons {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

#home-return-icon {
    margin-top: 2.5px;
    width: 25px;
    height: 25px;
}

.light#home-return-icon {
    filter: invert(0.8);
}

.dark#home-return-icon {
    filter: invert(0.2);
}

#repeat-icon {
    height: 28px;
    margin-top: 1px;
}
.light#repeat-icon {
    filter: invert(0.8);
}
.dark#repeat-icon {
    filter: invert(0.2);
}

.light#theme-icon {
    filter: invert(0.8);
}

.dark#theme-icon {
    filter: invert(0.2);
}

.light#grade-icon {
    filter: invert(0.8);
}

.dark#grade-icon {
    filter: invert(0.2);
}

.light#help-icon {
    filter: invert(0.2);
}

.dark#help-icon {
    filter: invert(0.8);
}

.light#sound-icon {
    filter: invert(0.2);
}

.dark#sound-icon {
    filter: invert(0.8);
}

.light#color-icon {
    filter: invert(0.8);
}

.dark#color-icon {
    filter: invert(0.2);
}

/* Label dos botões de configurações */
.config-labels-divs {
    position: absolute;
    top: 35px;
    display: inline-block;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 5px;
    opacity: 1;
    transition: all 0.3s;
}
.config-labels-divs.closed {
    opacity: 0;
}

.config-labels {
    color: #fff;
    font-size: 8pt;
}

/* Hud */
#game-hud {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 5px;
}

/* Divs dos itens da hud */
.items-hud-divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Imagens da hud */
.hud-images {
    pointer-events: none;
    width: 30px;
    height: 30px;
    filter: drop-shadow(0px 0px 2px #000)
}

/* Divs dos contadores */
.count-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

/* Contadores */
.counts {
    font-family: "Poppins";
    font-size: 16pt;
    transition: all 0.3s;
}
.counts[class~="light"] {
    color: #000;
}
.counts[class~="dark"] {
    color: #fff;
}

/* Divs das áreas de informações */
#hud-reveal-main-div {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 150px;
}

.hud-reveal-divs {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 10pt;
    border-radius: 10px;
    transition: all 0.3s;
}
.hud-reveal-divs[class~="closed"] {
    opacity: 0;
}
#reveal-bomb-div {
    width: 200px;
    height: 70px;
    padding: 10px;
    right: -65px;
    top: -25px;
}
#reveal-bandeira-div {
    width: 200px;
    height: 115px;
    padding: 10px;
    top: -25px;
    left: -55px;
}

/* Alertas */
#alert {
    font-family: "Poppins";
    font-size: 14pt;
    font-weight: bold;
    margin: 5px 0;
    transition: all 0.3s;
}
#alert[class~="light"] {
    color: #000;
}
#alert[class~="dark"] {
    color: #fff;
}

/* Div do tabuleiro */
#tabuleiro-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tabuleiro em si */
#tabuleiro {
    width: 400px;
    height: 400px;
    border-spacing: 0;
    border: 4px double rgba(0, 0, 0, 1);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
    transition: all 0.3s;
}

/* Container dos quadrados */
#table-square-container {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    /*#tabuleiro {
        width: 500px;
        height: 500px;
    }*/
}

@media screen and (max-width: 768px) and (min-width: 640px) {
    #tabuleiro {
        width: 450px;
        height: 450px;
    }
}

@media screen and (max-width: 639px) and (min-width: 510px) {
    #tabuleiro {
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width: 509px) and (min-width: 390px) {
    #tabuleiro {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 389px) and (min-width: 0px) {
    #title {
        font-size: 20pt;
    }

    #tabuleiro {
        width: 100vw;
        height: 100vw;
    }
}

/* Quadrados */
.squares {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #d0d0d0;
    background-image: linear-gradient(130deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    color: #fff;
    border: 4px inset rgba(0, 0, 0, 0.5);
    border-inline: 4px inset rgba(0, 0, 0, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.3s;
}

.squares:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.squares.active {
    background-color: #404040;
    background-image: none;
    font-size: 30pt;
    background-position: center;
    /*background-size: 80%;*/
    background-size: contain;
    background-repeat: no-repeat;
    filter: brightness(1.5);
}

.squares.active.number1 {
    background-image: url("../../../public/Images/minesweeper/img_digital1.png");
}

.squares.active.number2 {
    background-image: url("../../../public/Images/minesweeper/img_digital2.png");
}

.squares.active.number3 {
    background-image: url("../../../public/Images/minesweeper/img_digital3.png");
}

.squares.active.number4 {
    background-image: url("../../../public/Images/minesweeper/img_digital4.png");
}

.squares.active.number5 {
    background-image: url("../../../public/Images/minesweeper/img_digital5.png");
}

.squares.active.number6 {
    background-image: url("../../../public/Images/minesweeper/img_digital6.png");
}

.squares.active.bomb {
    background-image: url("../../../public/Images/minesweeper/img_mine.png");
    background-size: cover;
    animation-name: squareBombAnimation;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: 1;
}

.squares[class~="flower"], .squares.disabled.flower {
    filter: saturate(1.1);
    background-image: url("../../../public/Images/minesweeper/img_flower.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes squareBombAnimation {
    0% {
        background-image: url("../../../public/Images/minesweeper/gif_explosion.gif");
        background-size: 140% 140%;
        filter: grayscale(0.2);
    }
    95% {
        background-image: url("../../../public/Images/minesweeper/gif_explosion.gif");
        background-size: 140% 140%;
        filter: grayscale(0.2);
    }
    100% {
        background-image: url("../../../public/Images/minesweeper/img_mine.png");
        background-size: cover;
        filter: grayscale(0.7);
    }
}

.squares.disabled {
    pointer-events: none;
    filter: grayscale(0.7);
}

.squares.flag {
    background-image: url("../../../public/Images/minesweeper/img_flag.png");
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.squares.active::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    transform: rotate(45deg);
}

audio {
    display: none;
}

@media screen and (max-width: 768px) {
    #title-div {
        margin-top: unset;
    }
}

@media screen and (max-width: 480px) {
    .hud-reveal-divs {
        position: absolute;
    }
    #reveal-bomb-div, #reveal-bandeira-div {
        left: unset;
        right: unset;
        top: -25px;
    }

    #title {
        font-size: 16pt;
    }
}