/* Marte */
#ss-mars {
    background-position: center;
    background-size: 160% 100%;
}

@keyframes MarsAppear {
    0% {
        top: -10rem;
    }
    100% {
        top: 0px;
    }
}

@keyframes ShipToTop {
    100% {
        top: 0px;
    }
}