/* Jogadores */
.ss-players {
    position: absolute;
    z-index: 1;
    display: block;
    background-position: center;
    background-size: 100% 100%;
    transition: all 0.03s linear;
    animation: SSplayerAnimationHover 1s ease-in-out infinite;
    filter: drop-shadow(0 0 3px rgba(50, 100, 255, 0.5));
}
.ss-players[class~="hit"] {
    filter: drop-shadow(0 0 3px rgba(255, 0, 0, 0.5));
}