* {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

.page-configs {
    display: none;
}

#tictactoe-game-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-color: #30ffa0;
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    background-size: 100% 100%;
    transition: all 0.5s;
}

.ttt-containers {
    position: relative;
    padding: 1.5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    margin: auto;
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
    .ttt-containers {
        width: 90%;
    }
}

.ttt-containers.light {
    background-color: #fff;
}

.ttt-containers.dark {
    background-color: #202020;
}

/* Divs dos botões de configurações */
.ttt-configurations-divs {
    transition: all 0.3s
}
.ttt-configurations-divs[class~="light"] {
    background-color: #fff;
}
.ttt-configurations-divs[class~="dark"] {
    background-color: #202020;
}

#configs-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: self-start;
    gap: 10px;
}

#theme-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-width: 0px;
    border-radius: 50%;
}

#theme-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#theme-icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.theme-icons.light {
    filter: invert(0.8);
}

.theme-icons.dark {
    filter: invert(0.2);
}

#help-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-width: 0px;
    border-radius: 50%;
}

#help-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#help-icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.help-icons.light {
    filter: invert(0.2);
}

.help-icons.dark {
    filter: invert(0.8);
}

#sound-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-width: 0px;
    border-radius: 50%;
}

#sound-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#sound-icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.sound-icons.light {
    filter: invert(0.2);
}

.sound-icons.dark {
    filter: invert(0.8);
}

#color-button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-width: 0px;
    border-radius: 50%;
}

#color-button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

#color-icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}

.color-icons.light {
    filter: invert(0.8);
}

.color-icons.dark {
    filter: invert(0.2);
}

.controls-mains {
    transition: all 0.3s;
}

.controls-mains.opened {
    opacity: 1;
}

.controls-mains.closing {
    opacity: 0;
    transform: translateX(-20px);
}

.controls-mains.closed {
    display: none;
}

#controls-main {
    position: absolute;
    border-radius: 5px;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}

@media screen and (min-width: 769px) {
    #controls-main {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #controls-main {
        width: 90%;
        max-width: 300px;
    }
}

.controls-boards {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    transition: all 0.3s;
}

.controls-boards.light {
    background-color: #f0f0f0;
}

.controls-boards.dark {
    background-color: #303030;
}

#controls-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-divs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.controls-images-divs {
    width: 40px;
    height: 40px;
}

.controls-images {
    width: 40px;
    height: 40px;
    pointer-events: none;
    transition: all 0.3s;
}

.controls-images[class~="light"] {
    filter: invert(0.2);
}

.controls-images[class~="dark"] {
    filter: invert(0.8);
}

.controls-texts-divs {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls-titles {
    font-size: 14pt;
    text-align: center;
    transition: all 0.3s;
}

.controls-titles[class~="light"] {
    color: #202020;
}

.controls-titles[class~="dark"] {
    color: #d0d0d0;
}

.controls-descriptions {
    font-size: 8pt;
    text-align: center;
    transition: all 0.3s;
}

.controls-descriptions[class~="light"] {
    color: #606060;
}

.controls-descriptions[class~="dark"] {
    color: #a0a0a0;
}

.colors-mains {
    transition: all 0.3s;
}

.colors-mains.opened {
    opacity: 1;
}

.colors-mains.closing {
    opacity: 0;
    transform: translateX(-20px);
}

.colors-mains.closed {
    display: none;
}

#colors-main {
    position: absolute;
    border-radius: 5px;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}

@media screen and (min-width: 769px) {
    #colors-main {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    #colors-main {
        width: 90%;
        max-width: 300px;
    }
}

.colors-boards {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    transition: all 0.3s;
}

.colors-boards.light {
    background-color: #f0f0f0;
}

.colors-boards.dark {
    background-color: #303030;
}

#colors-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colors-divs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

/*.colors-images-divs {
    width: 40px;
    height: 40px;
}

.colors-images {
    width: 40px;
    height: 40px;
    pointer-events: none;
}

.colors-images[class~="light"] {
    filter: invert(0.2);
}

.colors-images[class~="dark"] {
    filter: invert(0.8);
}*/

.colors-input-divs {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.colors-inputs {
    width: 50px;
    height: 50px;
}

input[type="color"] {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    color: rgba(225, 200, 235, 1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

colorsquare {
    display: block;
    position: relative;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.colors-texts-divs {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colors-titles {
    font-size: 14pt;
    text-align: center;
    transition: all 0.3s;
}

.colors-titles[class~="light"] {
    color: #202020;
}

.colors-titles[class~="dark"] {
    color: #d0d0d0;
}

.colors-descriptions {
    font-size: 8pt;
    text-align: center;
    transition: all 0.3s;
}

.colors-descriptions[class~="light"] {
    color: #606060;
}

.colors-descriptions[class~="dark"] {
    color: #fff;
}

#game-title {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s;
}

.game-titles.light {
    color: #000;
}

.game-titles.dark {
    color: #fff;
}

#game-mode {
    text-align: center;
    transition: all 0.3s;
}

.game-modes.light {
    color: #000;
}

.game-modes.dark {
    color: #fff;
}

abbr {
    text-decoration: none;
}

#placar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 15px 0;
}

.placar-areas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
}

#p1-area {
    background-color: #3060ff;
}

#mode-area {
    background-color: #a0a0a0;
}

#p2-area {
    background-color: #f02020;
}

.pts-counters {
    font-size: 20px;
}

.pts-counters#p1 {
    color: #fff;
}

.pts-counters#p2 {
    color: #fff;
}

#mode-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-width: 0px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

#mode-button:hover {
    cursor: pointer;
}

#mode-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.alerts[class~="hidden"] {
    display: none;
}

.alerts[class~="light"] {
    color: #000;
}

.alerts[class~="dark"] {
    color: #fff;
}

#alert-message {
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    margin: 15px 0;
}

.player-spans {
    transition: all 0.3s;
}

#ttt-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ttt-buttons {
    cursor: pointer;
    font-size: 20pt;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    transition: all 0.3s;
}

@media screen and (min-width: 769px) {
    .ttt-buttons {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 768px) {
    .ttt-buttons {
        width: 90px;
        height: 90px;
    }
}

.ttt-buttons[class~="default"]:hover {
    animation-name: buttonsHover;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.ttt-buttons[class~="light"] {
    background-color: #fff;
}
.ttt-buttons[class~="light"][class~="default"]:hover {
    background-color: #b0b0b0;
}

.ttt-buttons[class~="dark"] {
    background-color: #303030;
    color: #d0d0d0;
}
.ttt-buttons[class~="dark"][class~="default"]:hover {
    background-color: #202020;
}

.ttt-buttons[class~="blue"] {
    background-color: rgba(48, 96, 255, 0.8);
    background-image: url("https://i.imgur.com/6N1gIse.png");
    background-size: cover;
}

.ttt-buttons[class~="red"] {
    background-color: rgba(240, 32, 32, 0.8);
    background-image: url("https://i.imgur.com/BqqywFx.png");
    background-size: cover;
}

@keyframes buttonsHover {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(3deg);
    }
    67% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.ttt-buttons.win {
    animation-name: WinButtonAnimation;
    animation-duration: 1.0s;
    animation-timing-function: easy-in-and-out;
    animation-iteration-count: infinite;
}

@keyframes WinButtonAnimation {
    50% {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

#reset-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#reset-button, #clear-button {
    cursor: pointer;
    width: 110px;
    height: 35px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 25px;
    margin-top: 10px;
    transition: all 0.3s;
}
#reset-button[class~="light"], #clear-button[class~="light"] {
    color: #000;
    border: 2px solid #000;
}
#reset-button[class~="light"]:hover, #clear-button[class~="light"]:hover {
    transform: scale(1.05);
    background-color: #000;
    color: #fff;
}
#reset-button[class~="dark"], #clear-button[class~="dark"] {
    color: #fff;
    border: 2px solid #fff;
}
#reset-button[class~="dark"]:hover, #clear-button[class~="dark"]:hover {
    transform: scale(1.05);
    background-color: #fff;
    color: #000;
}

#madeby-text {
    margin-top: 10px;
    text-align: center;
    transition: all 0.3s;
}
#madeby-text[class~="light"] {
    color: #000;
}
#madeby-text[class~="dark"] {
    color: #fff;
}

#madeby-link {
    text-decoration: underline;
    color: inherit;
}

/* Áudios */
audio {
    display: none;
}